  .custom-scrollbar::-webkit-scrollbar {
      width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #E2E8F0;
      border-radius: 10px;
  }

  /* Open Transitions */
  .bottom-sheet-open {
      animation: slideUp 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
  }

  .backdrop-fade-smooth {
      animation: fadeIn 0.5s ease-out forwards;
  }

  /* Exit Transitions */
  .bottom-sheet-exit {
      animation: slideDown 0.4s cubic-bezier(0.32, 0.72, 0, 1) forwards;
  }

  .backdrop-fade-exit {
      animation: fadeOut 0.4s ease-in forwards;
  }

  @keyframes slideUp {
      from {
          transform: translateY(100%);
      }

      to {
          transform: translateY(0);
      }
  }

  @keyframes slideDown {
      from {
          transform: translateY(0);
      }

      to {
          transform: translateY(100%);
      }
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
          backdrop-filter: blur(0px);
      }

      to {
          opacity: 1;
          backdrop-filter: blur(4px);
      }
  }

  @keyframes fadeOut {
      from {
          opacity: 1;
          backdrop-filter: blur(4px);
      }

      to {
          opacity: 0;
          backdrop-filter: blur(0px);
      }
  }