@keyframes bounce-short {

    0%,
    100% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -5px);
    }
}

.animate-bounce-short {
    animation: bounce-short 0.5s ease-in-out infinite;
}